.inline-block {
    display: inline-block; 
    vertical-align: top; 
  }
html {
    font-size: 10px; 
    font-family: "Open Sans", sans-serif;
}
.navigation {
    background-color: white; 
    padding: 10px; 
  }
.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
.navigation li {
    margin-right: 20px; 
  }
.navigation a {
    text-decoration: none;
    color: black; 
    padding: 5px 10px;
    border-radius: 5px;
  }
.navigation a:hover {
    background-color: #555;
  }
.logo {
    width: 23%;
    padding: 1%;
    text-align: right; 
  }
  nav {
    width: 73%;
    padding: 1%;
  }
  ul {
    width: 50%;
    margin-left: auto;
  }
.heroImg {
    height: 600px;
    padding: 5%;
  }
.content {
    width: 500px;
    margin: 0 auto; 
  }
footer {
    background-color: #373738; 
    padding: 20px; 
  }
  footer ul {
    display: inline-block; 
    vertical-align: bottom; 
  }
  footer li {
    padding: 0 10px; 
  }